#set($tenant_id = ${tenantId.toLowerCase()})
#set($app_name_bucket = ${appContext.toLowerCase()})
{
"Effect": "Allow",
"Action": [
"s3:PutObject*",
"s3:GetObject",
"s3:ListBucket"
],
"Resource": [
"arn:aws:s3:::${tenant_id}/${app_name_bucket}/*",
"arn:aws:s3:::${app_name_bucket}/shared/*"
]
}